<a href="<%= applications_path %>">Marketplace</a>


<div class="relative">
    <div class="w-3/4 pr-4">

        <h1 class="mt-8 text-left">Application Name</h1>
        <p>Application Author</p>

        <p class="mt-12 max-w-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem       Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer     took a galley of type and scrambled it to make a type specimen book.</p>

    </div>

    <div class="pin-t pin-r absolute w-1/4">
        <div>
            <a href="#" class="button--primary inline-block mb-2">Install Application</a><br/>
            <a href="#" class="button--secondary inline-block">Visit Website</a>
        </div>
    </div>

</div>