

.button {
    border: 2px solid $blue;
    border-radius: 9999rem;
    color: $blue;
    font-size: .9rem;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    transition: all .3s;

    &--primary {
        @extend .button;
        background: $blue;
        color: $white;

        &:hover {
            background: $blue-darker;
        }
    }

    &--secondary {
        @extend .button;

        &:hover {
            background: $grey-lighter;
        }
    }
}